@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1587917424309'); /* IE9 */
  src: url('./iconfont.eot?t=1587917424309#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABjgAAAI/AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApIXwE2AiQDCAsGAAQgBYRtBywbgQUR1Ys/sq+TN43tUGcCgdNAJhXES13jXUfzwTyBxRyXWEdMeiaCaO+72bt7P5fSi4wv1SV0hUahEKp0BcohJAiDML1pZBbn7C9rVIQayVv06AtJcZTlBBtwgWe6+KaDyrn7xdwD/8tgj84d2EchvT2G1zbRsgybLgAKbton7p3+FVAg8wHltieNNWlSF1AXB1KgYw2KrIQybhi74AUeJ9BhxpY4vBgLVWGPC8TNVAWoBZ+isGQVWg1Li3imUdOTNOVp9P34Y4hK0mR22YUbOsPud06a2+e7HhD8BLS6QcYWCnGlMXYqC8bOOmLFAscqDr6rwCqOahLsr7MLu8AUFD+TxBsrQILH6mkAY5OuIgb6qFBcw9NIunvuz/ry3+rezkl3nM9/D0V+nGGX/bP8Mk0Fgv+tL9uhvHYW8PpFxmKYg7oPe/AvJAObiiGzLaloksb2ZOAcFR06cI5dA95P1Q+fOBWq4QmONtMZsmqJLKwtNDpto6XaQYdNJ6s7Dboli9KODQ8AQp/nSHq8QNbnFVlY79AY8Q8tfZHR4Vq4ZaeVkJI+MhpBD/YPyc0TuTbRcfENw7sazssizgt5S0Hom66cvOKEvMSM7RMGEQLieYQLOA1rnWHhOaOTJoosh7alpjc1bh6VVkdGI+jB/iG5eaKgs+jK528Y3tVwR0Nd+IW8pf6hb7oB5FU9DWp4lFe2TxhECIjnES5gENY6w9I8KKOTJk6ILIfWaUVD1c322vHvdkGHsg1p52Rn+/eiFAAAAA==') format('woff2'),
  url('./iconfont.woff?t=1587917424309') format('woff'),
  url('./iconfont.ttf?t=1587917424309') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont.svg?t=1587917424309#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconup:before {
  content: "\e603";
}

